@import url(../components/bootstrap/dist/css/bootstrap.css);
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  background: #f4f4f4;
  max-width: 1360px;
  margin: auto;
  font-family: 'Oswald', sans-serif; }

a {
  color: #00B7FF; }

.rs {
  margin: 0 5px 0 220px; }
  .rs .change {
    top: 0px;
    background: #f4f4f4;
    width: 100%; }
    .rs .change .add, .rs .change .view {
      margin: 20px 0 10px 0;
      width: 110px;
      color: #f4f4f4;
      background: black;
      border: 1px solid black;
      text-align: center;
      padding: 2px;
      cursor: pointer;
      display: inline-block; }
      .rs .change .add:hover, .rs .change .view:hover {
        background: #f4f4f4;
        border: 1px solid black;
        color: black; }
  .rs .form-add {
    display: none;
    position: relative;
    width: 410px;
    margin-top: 30px; }
    .rs .form-add div {
      width: 520px;
      margin-bottom: 30px; }
    .rs .form-add label {
      width: 100px; }
    .rs .form-add input, .rs .form-add textarea, .rs .form-add select, .rs .form-add option {
      width: 300px; }
    .rs .form-add button {
      position: absolute;
      right: 8px;
      margin-top: 10px;
      width: 110px;
      color: #f4f4f4;
      background: black;
      border: 1px solid black;
      text-align: center;
      padding: 2px; }
      .rs .form-add button:hover {
        background: #f4f4f4;
        border: 1px solid black;
        color: black; }
    .rs .form-add .jenisrs .labels {
      width: 100px; }
    .rs .form-add .jenisrs input {
      width: 20px; }
    .rs .form-add #name-error, .rs .form-add #detail-error, .rs .form-add #formProv-error, .rs .form-add #formKota-error, .rs .form-add #jenis-error, .rs .form-add #tanggal-error {
      color: red;
      display: block;
      min-width: 200px;
      position: absolute;
      left: 105px; }
  .rs .form-update {
    display: none;
    position: relative;
    width: 410px;
    margin-top: 70px;
    margin-bottom: 20px; }
    .rs .form-update div {
      width: 500px;
      margin-bottom: 10px; }
    .rs .form-update label {
      width: 100px; }
    .rs .form-update input, .rs .form-update textarea, .rs .form-update select, .rs .form-update option {
      width: 300px; }
    .rs .form-update button {
      position: absolute;
      right: 8px;
      margin-top: 10px;
      width: 110px;
      color: #f4f4f4;
      background: black;
      border: 1px solid black;
      text-align: center;
      padding: 2px; }
      .rs .form-update button:hover {
        background: #f4f4f4;
        border: 1px solid black;
        color: black; }
    .rs .form-update .jenisrs .labels {
      width: 100px; }
    .rs .form-update .jenisrs input {
      width: 20px; }
  .rs .view {
    margin-top: 30px; }
    .rs .view table thead tr {
      border-bottom: 2px solid black;
      background: #f4f4f4; }
    .rs .view button {
      margin: 0 5px 0 5px;
      width: 50px;
      color: #f4f4f4;
      background: black;
      border: 1px solid black;
      text-align: center;
      padding: 2px; }
      .rs .view button:hover {
        background: #f4f4f4;
        border: 1px solid black;
        color: black; }

.sidebar {
  width: 200px;
  position: fixed;
  background: #111;
  height: 100vh;
  top: 0;
  border-right: 1px solid black;
  color: white; }
  .sidebar ul {
    padding: 0; }
    .sidebar ul li {
      list-style-type: none;
      cursor: pointer;
      background: #111;
      border-top: 1px solid #222;
      border-bottom: 1px solid #000;
      box-shadow: inset -5px 0 0 rgba(0, 0, 0, 0.2), inset 0 20px 0 #161616;
      line-height: 40px;
      padding: 0 45px;
      text-align: right;
      transition: all 300ms;
      font-size: 17px; }
      .sidebar ul li:hover {
        background: #222;
        border-top-color: #3a3a3a;
        box-shadow: inset -5px 0 0 #f4f4f4, inset 0 20px 0 #282828;
        padding: 0 30px;
        transition: all 300ms; }
      .sidebar ul li:active {
        background: #333;
        border-top-color: #666;
        box-shadow: inset -5px 0 0 #666, inset 0 20px 0 #444;
        transition: all 50ms; }
    .sidebar ul a {
      text-decoration: none;
      color: white; }
    .sidebar ul .active {
      box-shadow: inset -5px 0 0 #e00, inset 0 20px 0 #282828;
      padding: 0 45px; }

.form-login {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 400px;
  background: black;
  box-shadow: #bcbcbc 0px 1px 1px 0px;
  border: 1px solid #ebebeb; }
  .form-login .head {
    background: #f4f4f4;
    color: black;
    line-height: 50px;
    text-align: center;
    cursor: pointer; }
    .form-login .head .log, .form-login .head .register {
      display: inline-block;
      width: 197px; }
  .form-login .active {
    background: black;
    color: white; }
  .form-login .content-login, .form-login .content-register {
    color: white; }
    .form-login .content-login h4, .form-login .content-register h4 {
      margin-top: 20px;
      text-align: center; }
  .form-login .group {
    margin-bottom: 10px;
    padding: 10px;
    position: relative; }
    .form-login .group input {
      padding: 10px;
      width: 100%;
      display: block;
      border: none;
      border-bottom: 2px solid white;
      color: black;
      background: #f4f4f4; }
      .form-login .group input:focus {
        outline: 0; }
    .form-login .group .bar {
      position: relative;
      display: block;
      width: 100%; }
      .form-login .group .bar:before, .form-login .group .bar:after {
        content: '';
        height: 3px;
        bottom: 1px;
        position: absolute;
        background: black;
        transition: all 0.3s ease;
        width: 0; }
      .form-login .group .bar:before {
        left: 50%; }
      .form-login .group .bar:after {
        right: 50%; }
    .form-login .group input:focus ~ .bar:before, .form-login .group input:focus ~ .bar:after {
      width: 50%; }
    .form-login .group .button-login, .form-login .group .button-register {
      position: relative;
      display: block;
      padding: 10px;
      width: 100%;
      background: black;
      border: 2px solid  #f4f4f4;
      transition: all 0.4s ease; }
      .form-login .group .button-login:focus, .form-login .group .button-register:focus {
        outline: none; }
      .form-login .group .button-login:hover, .form-login .group .button-register:hover {
        background: #f4f4f4;
        color: black; }

.view-user {
  margin-left: 210px; }

/*# sourceMappingURL=style.css.map */
