@import "../components/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
  // font: 14px 'Marko One', serif, Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  max-width: 1360px;
  margin:auto;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #00B7FF;
}

@import "components/_rs.scss";
@import "components/_sidebar.scss";
@import "components/_login.scss";
@import "components/_user.scss";


.view-user{
	margin-left: 210px;
}