.form-login{
	position: relative;
	margin: auto;
	margin-top: 50px;
	width:400px;
	background: black;
	box-shadow: #bcbcbc 0px 1px 1px 0px;
	border: 1px solid #ebebeb;
	.head{
		background: #f4f4f4;
		color:black;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
		.log, .register{
			display: inline-block;
			width:197px;
		}
	}
	.active{
		background: black;
		color:white;
	}
	.content-login, .content-register{
		color:white;
		h4{margin-top:20px;text-align:center;}
		
	}
	.group{
		margin-bottom: 10px;
		padding:10px;
		position:relative;
		input{
			padding: 10px;
			width: 100%;
			display: block;
			border:none;
			border-bottom:2px solid white;
			color:black;
			background: #f4f4f4;
			&:focus{
				outline: 0;
			}
		}
		.bar{
			position:relative;
			display: block;
			width:100%;
			&:before, &:after{
				content: '';
				height: 3px;
				bottom:1px;
				position:absolute;
				background: black;
				transition: all 0.3s ease;
				width:0;
			}
			&:before{left:50%;}
			&:after{right:50%;}
		}
		input:focus ~ .bar:before, input:focus ~ .bar:after {
		  width: 50%;
		}
		.button-login, .button-register{
			position:relative;
			display: block;
			padding:10px;
			width:100%;
			background:black;
			border:2px solid  #f4f4f4;
			transition: all 0.4s ease;
			&:focus{outline: none;}
			&:hover{
				background:  #f4f4f4;
				color: black;
			}
		}
	}
	label{
		
	}
}