.rs{
	margin: 0 5px 0 220px;
	.change{
		// position:fixed;
		top:0px;
		background: #f4f4f4;
		width: 100%;
		.add, .view{
			margin:20px 0 10px 0;
			width:110px;
			color:#f4f4f4;
			background: black;
			border: 1px solid black;
			text-align:center;
			padding:2px;
			cursor: pointer;
			display: inline-block;
			&:hover{
				background: #f4f4f4;
				border: 1px solid black;
				color: black;
			}
		}

	}
	.form-add{
		display:none;
		position: relative;
		width:410px;
		margin-top: 30px;
		div{width:520px;margin-bottom:30px;}
		label{width:100px;}
		input, textarea, select, option{width:300px;}
		button{
			position:absolute;
			right:8px;
			margin-top: 10px;
			width:110px;
			color:#f4f4f4;
			background: black;
			border: 1px solid black;
			text-align:center;
			padding:2px;
			&:hover{
				background: #f4f4f4;
				border: 1px solid black;
				color: black;
			}
		}
		.jenisrs{
			.labels{width:100px;}
			input{width:20px;}
		}
		#name-error, #detail-error, #formProv-error, #formKota-error, #jenis-error,#tanggal-error{
			color: red;
			display: block;
			min-width: 200px;
			position: absolute;
			left: 105px;
		}
	}
	.form-update{
		display:none;
		position: relative;
		width:410px;
		margin-top: 70px;
		margin-bottom: 20px;
		div{width:500px;margin-bottom:10px;}
		label{width:100px;}
		input, textarea, select, option{width:300px;}
		button{
			position:absolute;
			right:8px;
			margin-top: 10px;
			width:110px;
			color:#f4f4f4;
			background: black;
			border: 1px solid black;
			text-align:center;
			padding:2px;
			&:hover{
				background: #f4f4f4;
				border: 1px solid black;
				color: black;
			}
		}
		.jenisrs{
			.labels{width:100px;}
			input{width:20px;}
		}
	}
	.view{
		margin-top: 30px;
		table{
			thead{
				tr{
					border-bottom:2px solid black; 
					background: #f4f4f4;
				}
			}

		}
		button{
			margin:0 5px 0 5px;
			width:50px;
			color:#f4f4f4;
			background: black;
			border: 1px solid black;
			text-align:center;
			padding:2px;
			&:hover{
				background: #f4f4f4;
				border: 1px solid black;
				color: black;
			}
		}
	}
	
}