.sidebar{
	width:200px;
	position: fixed;
	background: #111;
	height:100vh;
	top:0;
	border-right:1px solid black;
	color:white;
	ul{
		padding: 0;
		li{
			list-style-type: none;
			cursor: pointer;
			background: #111;
			border-top: 1px solid #222;
			border-bottom: 1px solid #000;
			box-shadow : inset -5px 0 0 hsla(0,0%,0%, .2),
				inset 0 20px 0 #161616;
			line-height: 40px;
			padding : 0 45px;
			text-align: right;
			transition:  all 300ms;
			font-size: 17px;
			&:hover{
				background: #222;
				border-top-color: #3a3a3a;
				box-shadow : inset -5px 0 0 #f4f4f4,
					inset 0 20px 0 #282828;
				padding: 0 30px;
				transition: all 300ms;
			}
			&:active{
				background: #333;
				border-top-color: #666;
				box-shadow: 
				    inset -5px 0 0 #666,
				    inset 0 20px 0 #444
				;
				transition: all 50ms;
			}
		}
		a{
			text-decoration: none;
			color:white;
		}
		.active{
			box-shadow:
			    inset -5px 0 0 #e00,
			    inset 0 20px 0 #282828
		  	;
		  	padding: 0 45px;
		}
	}
}