<div class="rs">
	<div class="change">
		<div class="add" id="Add">ADD</div>
		<div class="view" id="view">VIEW</div>
	</div>
	<form class="form-add" id="formSubmit">
		<h1>ADD RUMAH SAKIT</h1>
		<div>
			<label for="">Nama</label>
			<input type="text" placeholder="Nama RS" name="name" required>
		</div>
		<div class="jenisrs">
			<label for="">Jenis Rs</label>
			<input type="radio" name="jenis" id="rsu" value="RSU" required> <label for="rsu" class="labels">RSU</label>
			<input type="radio" name="jenis" id="rsi" value="RSI" required> <label for="rsi" class="labels">RSI</label>
			<input type="radio" name="jenis" id="rsj" value="RSJ" required> <label for="rsj" class="labels">RSJ</label>
		</div>
		<div>
			<label for="">Alamat</label>
			<textarea name="address[detail]" id="detail"  cols="30" rows="3" placeholder="Alamat" required></textarea>
		</div>
		<div>
			<label for="">Provinsi</label>
			<select name="address[province]" id="formProv" required>
				<option value="">Provinsi</option>
			</select>
		</div>
		<div>
			<label for="">Kota</label>
			<select name="address[city]" id="formKota" required>
				<option value="">Kota</option>
			</select>
		</div>
		<div>
			<label for="">Tanggal</label>
			<input type="date" placeholder="Tanggal" name="tanggal" requireds>
		</div>
		<div id="pesanServer"></div>
		<button type="submit" id="addSubmit">SUBMIT</button>
	</form>

	<form class="form-update" id="formUpdate">
		<h1>UPDATE RUMAH SAKIT</h1>
		<div>
			<label for="">Nama</label>
			<input type="text" placeholder="Nama RS" name="name" required="" id="name">
		</div>
		<div class="jenisrs">
			<label for="">Jenis Rs</label>
			<input type="radio" name="jenis" id="rsuUpdate" value="RSU" required> <label for="rsuUpdate" class="labels">RSU</label>
			<input type="radio" name="jenis" id="rsiUpdate" value="RSI" required> <label for="rsiUpdate" class="labels">RSI</label>
			<input type="radio" name="jenis" id="rsjUpdate" value="RSJ" required> <label for="rsjUpdate" class="labels">RSJ</label>
		</div>
		<div>
			<label for="">Alamat</label>
			<textarea name="address[detail]" cols="30" rows="3" placeholder="Alamat" required="" id="alamat"></textarea>
		</div>
		<div>
			<label for="">Provinsi</label>
			<select name="address[province]" id="formprovUpdate" required="">
				<option value="">Provinsi</option>
			</select>
		</div>
		<div>
			<label for="">Kota</label>
			<select name="address[city]" id="formkotaUpdate" required="" >
				<option value="">Kota</option>
			</select>
		</div>
		<div>
			<label for="">Tanggal</label>
			<input type="date" placeholder="Tanggal" name="tanggal" id="Tanggal" required>
		</div>
		<button type="submit" id="SubmitUpdate">UPDATE</button>
	</form>

	<div class="view" id="viewData">
		<table class="table">
			<thead>
				<tr>
					<td>NAMA</td>
					<td>JENIS</td>
					<td>ALAMAT</td>
					<td>PROVINSI</td>
					<td>KOTA</td>
					<td>TANGGAL</td>
					<td>OPTION</td>
				</tr>
			</thead>
			<tbody id="View"></tbody>
		</table>
		<span id="currentPage"></span> dari <span id="totalPage"></span>
		<ul id="Pagination"></ul>
	</div>
	
</div>