<div class="form-login">
	<div class="head">
		<div class="on log active">Login</div>
		<div class="on register">Register</div>
	</div>
	<form class="content-login">
		<h4>Welcome</h4>
		<div class="group">
			<input type="text" placeholder="Username" name="username" required>
			<span class="bar"></span>
		</div>
		<div class="group">
			<input type="password" placeholder="Password" name="password" required>
			<span class="bar"></span>
		</div>
		<div class="group">
			<button type="submit" class="button-login">Login</button>
		</div>
	</form>
	<form class="content-register">
		<h4>Join Us</h4>
		<div class="group">
			<input type="text" placeholder="Fullname" name="fullname" required>
			<span class="bar"></span>
		</div>
		<div class="group">
			<input type="email" placeholder="Email" name="email" required>
			<span class="bar"></span>
		</div>
		<div class="group">
			<input type="text" placeholder="Username" name="username" required>
			<span class="bar"></span>
		</div>
		<div class="group">
			<input type="password" placeholder="Password" name="password" required>
			<span class="bar"></span>
		</div>
		<div class="group">
			<button type="submit" class="button-register">Register</button>
		</div>
	</form>
</div>
