<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  
  {{{body}}}

 <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
 <script type="text/javascript" src="/components/jquery-validation/dist/jquery.validate.js"></script>
  <script type="text/javascript" src="/js/add.validation.js"></script>
   <script type="text/javascript" src="/js/login.js"></script>
  </body>
</html>
