<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta charset="UTF-8">
  <meta property="og:title" value="Basic">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  <div class="sidebar">
    <h2>SIDEBAR</h2>
      <ul>
        <li class="active"> <a href="/">HOME</a> </li>
        <li>RS</li>
        <li> <a href="/user">USER</a></li>
        <li id="logout">LOGOUT</li>
      </ul>
  </div>

  {{{body}}}

 <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
 <script type="text/javascript" src="/components/jquery-validation/dist/jquery.validate.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/add.validation.js"></script>
  </body>
</html>
